body {
  background: linear-gradient(135deg, #325aa6, #073583);
  color: rgb(0, 0, 0);
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.game-container {

  background-color: rgb(34, 75, 188);
  padding: 30px;
  border-radius: 20px;
  text-align: center;
  width: 350px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.3);
}

.flag-container img {
  width: 200px;
  height: 120px;
  border-radius: 10px;
  margin: 20px 0;
  box-shadow: 0 4px 10px rgba(0,0,0,0.4);
}

.options {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.option-btn {
  background: rgba(255, 255, 255, 0.9);
  border: none;
  padding: 10px;
  border-radius: 10px;
  color: rgb(0, 0, 0);
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
}

.option-btn:hover {
  background: rgba(255,255,255,0.4);
}

.score {
  margin-top: 10px;
  font-size: 18px;
}

#message {
  margin-top: 10px;
  font-weight: bold;
}

button#nextBtn {
  background: #4aa3df;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  color: white;
  margin-top: 15px;
  cursor: pointer;
  font-weight: 600;
  transition: 0.3s;
}

button#nextBtn:hover {
  background: #368dcf;
}

/* Toggle switch */
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 25px;
  margin: 0 10px;
}

.switch input { display: none; }

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 17px;
  width: 17px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:checked + .slider:before {
  transform: translateX(26px);
}
