body {
  font-family:sans-serif ;
    text-align: center;
   background-image:url(sky.jpg) ;
    padding: 50px;
  }
  input {
    padding: 10px;
    width: 80%;
    margin-bottom: 10px;
  
  }
  
  button {
    padding: 10px 20px;
    background-color:#1A76B7;
    color: white;
    border: solid;
    border-width: 50x;
    border-color: #1A76B7;
    cursor: pointer;
    border-radius: 8px;
    font-size: large;
    width:100px;
    height: 40px;
  }
  
  button:hover {
    background-color: #007acc;
    border: none;
    font-size: larger;
    transform: scale(1.2);
    transition: transform ease;

  }


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
  margin: 0;
  padding: 5px;
}
body {
    font-family: Arial, sans-serif;
}


.toptab{
 display: flex;
  align-items: center;
  justify-content: flex-start; 
  padding: 10px 20px;
  gap: 0px;
  background-color: #2a4b73;
  border-radius: 10px;


}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px 30px;
  background-color: rgba(0, 52, 95, 0.528);
    color: white;
    backdrop-filter: blur(10px);
    border-radius: 25px;
    width: 99%;
    position: fixed;
    z-index: 1000;
   
}

.navbar .nav-links {
    list-style: none;
    display: flex;
}

.navbar .nav-links li {
    margin: 0 1rem;
    padding: 20px;
    margin-top:5px ;
    
}

.navbar .nav-links a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    
}

.navbar .nav-links a:hover {
    color: #000000;
    padding-bottom: 2px;
    border-bottom: 2px solid #000000;
    transition: 0.2s ease-in-out;
}

.footer {
  align-items: end;
  display: inline;
  background-color:rgba(0, 0, 0, 1);
  color: #fff;
  padding: 20px 0;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  right: 0;
  border-radius: 20px 20px 0 0;
}

.footer-content {
  max-width: 800px;
  margin: auto;
}

.social-icons a {
  margin: 0 10px;
  font-size: 20px;
  text-decoration: none;
}

.social-icons a:hover {
  color: #fff;
}
.search-box {
  position: relative;
  padding-top: 10px;
  width: 300px;
  margin: 0px auto;
}

.search-box input {
  width: 105%;
  padding: 10px; 
  font-size: 16px;
  border: 2px solid #ffffff;
  border-radius:15px;
  outline: none;
  background-color: #00000042;
  color: rgb(255, 255, 255);
}
.search-box input:hover{
  border: 3px solid #007acc;
  scale: 1.02;
}


.search-box button {
  position: absolute;
  right: 5px;
  top: 50%;
  padding: 5px;
  transform: translate(20px,-49%);
  background: none;
  border: none;
  color: rgb(255, 255, 255);
  font-size: 18px;
  cursor: pointer;
  justify-content: center;
   
}
.search-box button:hover {
  color: #018eed;
  border: none;
}
.sub{
height: 40px;
width: 40px;
padding: 10px;
}

.signup {
  padding: 10px 20px;
  background-color: #1A76B7;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: transform 0.3s ease;
  margin-left: 20px; 
}
.signup:hover {
  background-color: #141414;
  transform: scale(1.2);
  transition: ease-in-out 0.3s;
}

.logo {
  display: flex;
  align-items: center;
  gap: 8px; 
  color: rgb(255, 255, 255);
  font-family: 'Lato', sans-serif; 
  font-weight: 600;
  font-size: 35px;
  user-select: none; 
  margin-left: -16px;
  
}

.weather-widget {
  width: 600px;
  height: 200px;
  max-width: 1000px;
 background: linear-gradient(to right, #2a4fc7, #51a2db);
  color: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(86, 158, 240, 0.2);
  margin-top: 40px ;
  font-family: 'Arial', sans-serif;
  user-select: none;
  margin-left: 140px;
  
}
.weather-widget:hover{
  transform: scale(1.02);
  transition: transform ease-in-out 0.4s;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.3);
}

.widget-header {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 15px;
}

.widget-body {
  display: flex;
  align-items: center;
  gap: 20px;
}

.temp-block {
  display: flex;
  align-items: center;
  gap: 10px;
}

.temp-main {
  font-size: 80px;
  font-weight: bold;
  padding-left: 10px;
  
  margin-left: -5px;
}

.weather-icon img{
 
  width: 90px;
  height: 90px;
  
}

.desc-block {
  display: flex;
  flex-direction: column;
  align-items: center;
 
}
.feels-like-p{
  font-size: 18px;
 
}

.condition {
  font-size: 18px;
  font-weight: 500;
}

.aqi {
  font-size: 18px;
  font-weight: 500;
}

.day-night {
  font-size: 14px;
  color: #ddd;
}

.main_container{
display: flex;
justify-content: flex-start ;
margin-top: 60px;
margin-left: -20px;
}

.social-icons .facebook{
 color: hsl(0, 0%, 100%);
 background-color: #007acc;
 padding-left: 2px;
 padding-right: 2px;
border-radius: 5px;
}

.social-icons .x{
 color: hsl(0, 0%, 100%);
 background-color: #000000;
 padding-left: 2px;
 padding-right: 2px;
border-radius: 5px;
}
.social-icons .instagram{
background-color: #000000;
opacity: 100%;
padding-left: 2px;
padding-right: 2px;
border-radius: 5px;
color: 	#C13584;
}
.timely-weather{
 display: inline-flex;
 justify-content:space-evenly;
 align-items: center;
 justify-items: flex-start;
  color:  rgb(255, 255, 255);
  font-size: 18px;
  margin-left: 40px;
 background: linear-gradient(to right, #2a4fc7, #3a69a7, #0d70b6);
  width: 100%;
  max-width: 1060px;
  border-radius: 12px;
  height: 200px;
  max-height: 200px;
  margin-top: 40px;
}
.timely-weather h1{
  font-size: 25px;
  font-weight: normal;
}
.timely-weather:hover{
  transform: scale(1.01);
  transition:  ease-in-out 0.4s;
  box-shadow:0 12px 30px rgba(0, 0, 0, 0.3);
}
.morning{
  display: inline;
  justify-self: start;
}
.timely-weather img{
  width: 30px;
  height: 30px;
}
.time-temp{
  display: flex;
  font-size: 3rem;
  font-weight: 600;
  padding-top: 10px;  
  user-select: none;
  margin-left: 15px;
 justify-content: center;
 text-align: center;
 margin-top: 12px;

}
.data-block{
  display:inline-block;
  text-align: center;
  justify-items: center;
  padding: 10px;
  margin: 1px;
  user-select: none;
  border-radius: 12px;
  flex: 1 1 auto;
  
}
.data-block:hover{
  background-color: rgb(0, 57, 133);
  color: #ffffff;
  transform: scale(1.1);
  transition: transform ease-in-out 0.4s;
  padding-bottom: 30px;
  padding-top: 30px;
 padding-left: -70px;
 padding-right: -70px;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.727);
   border: #003474 solid 2px;
}
.temp-unit{
  padding: 5px;
  border-radius: 8px;
  font-size: 20px;
  border: none;
  cursor: pointer;
  background:none;
  color: rgb(255, 255, 255);
  font-family: "yahei", sans-serif;
  font-weight: bold;
  margin-top: -6px;
}
.temp-unit:hover{
  
  background-color: #141414;
  color: white;
  scale: 1.1;
  transition: ease-in-out 0.3s;
}
#widget-location{
  margin-left: 10px;
}


/* loader*/
.loader{
position:fixed;
top:50%;
left:50%;
width:100vw;
height:100vh;
display: flex;
justify-content: center;
align-items: center;
background-color: transparent;
transition: opacity 0.75s,visibility 0.75s;
pointer-events: none;
opacity:0;
visibility: hidden;
transition: opacity 0.5s ease, visibility 0.5s ease;

}


.ball1{
  background-color: #ffffff;
width :100px;
height: 100px;
border-radius: 50%;
margin:0 2.5rem;
display:inline-block;
position: relative;
translate:20px;
padding: 80px;
}
.cloud{
  position: relative;
  translate:-1800px;
  transform: translateY(-500px);
}



.animate {
  animation: loading 3s linear infinite;
}

.ball2{
 background-color: #ffffff;
width :100px;
height: 100px;
border-radius: 50%;
margin:0 2.5rem;
display:inline-block;
position: relative;
translate:100px;
padding: 80px;
}

.ball3{
 background-color: #ffffff;
width :100px;
height: 100px;
border-radius: 50%;
margin:0 2.5rem;
display:inline-block;
position: relative;
translate:-360px;
padding: 90px;
}

.ball4{
 background-color: #ffffff;
width :100px;
height: 100px;
border-radius: 50%;
margin:0 2.5rem;
display:inline-block;
position: relative;
translate: -620px;
transform: translateY(-50px);
padding: 90px;
}
.ball5{
 background-color: #ffffff;
width :100px;
height: 100px;
border-radius: 50%;
margin:0 2.5rem;
display:inline-block;
position: relative;
translate: -780px;
transform: translateY(-5px);

padding: 90px;
}
.ball6{
 background-color: #ffffff;
width :100px;
height: 100px;
border-radius: 50%;
margin:0 2.5rem;
display:inline-block;
position: relative;
translate: -1030px;
transform: translateY(-80px);
padding: 90px;
}


.eye {
  width: 25px;
  height: 25px;
  background: black;
  border-radius: 50%;
  position: absolute;
  top: 230px; /* vertical placement */
}

.eye.left {
  left: 645px; /* pushed to right */
}

.eye.right {
  left: 725px; /* pushed to right */
}

.mouth {
  width: 80px;
  height: 40px;
  border: 5px solid black;
  border-top: none;
  border-radius: 0 0 40px 40px;
  position: absolute;
  top: 290px; /* vertical placement */
  left: 655px; /* aligned under eyes */
}


.rainball {
  width: 2200px;
  height: 200px;
  background-image: repeating-linear-gradient(
    to top,
    violet 0% 14.28%,
    indigo 14.28% 28.56%,
    blue 28.56% 42.84%,
    green 42.84% 57.12%,
    yellow 57.12% 71.4%,
    orange 71.4% 85.68%,
    red 85.68% 100%
  );
  filter: blur(3px);
  translate:-1500px ;
  transform: translateY(160px);
  z-index: -1;
}


.loader.active {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  display: flex;
}








@keyframes loading {
  0%{
    translate:-100% ;
  }
  50%{
    translate: 0%;
  }
  100%{
    translate: 500%;
  
  }
}